/* Viktor Högberg, Léo Tuomenoksa Texier */

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

/* Light-mode */
:root {
    --color-header-background: #eceaf2;
    --color-background: #f8f8fc;
    --color-text: #2c2b38;
    --color-logo-text: #ffac26;

    --color-button-text: #ffffff;
    --color-button-background: #5e5479;
    --color-button-border: #4e4564;

    --color-button-2-text: #ffffff;
    --color-button-2-background: #2c2b38;
    --color-button-2-border: #1f1f27;

    --color-element-background: #eceaf2;
}

/* Dark-mode */
:root.dark-mode {
    --color-header-background: #272430;
    --color-background: #18161f;
    --color-text: #e4e3e9;
    --color-logo-text: #ffb641;

    --color-button-text: #ffffff;
    --color-button-background: #6e658c;
    --color-button-border: #83799e;

    --color-button-2-text: #18161f;
    --color-button-2-background: #e4e3e9;
    --color-button-2-border: #b3b2b9;

    --color-element-background: #272430;
}

* {
    font-family: "Inter";
    color: var(--color-text);
}

#logo {
    width: 45px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#logo-span {
    color: var(--color-logo-text);
}

#logo-container {
    cursor: pointer;
    display: flex;
    gap: 0.4rem;
}

body {
    padding: 1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-background);
}

main {
    /* Center content */
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

h1 {
    margin: 0.5rem;
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

h3 {
    margin: 0;
}

button {
    padding: 0.5rem;
    background-color: var(--color-button-2-background);
    color: var(--color-button-2-text);

    border: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: var(--color-button-2-border);

    cursor: pointer;
}

button span {
    color: var(--color-button-2-text);
}

header {
    width: auto;
    padding: 0 1rem 0 1rem;
    border-radius: 16px;
    background-color: var(--color-header-background);
}

#header-container {
    display: flex;
}

#header-button-container {
    /* Align to the right, center vertically */
    align-items: flex-end;
    margin-left: auto;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

footer {
    padding: 1rem;
    margin-top: 3rem;
}

#menu-button-container {
    display: grid;
    text-align: center;
    gap: 1rem;
}

.link-button {
    text-decoration: none;
    background-color: var(--color-button-background);
    border-radius: 20px;
    color: var(--color-button-text);

    border-color: var(--color-button-border);
    border-style: solid;
    border-width: 1px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;

}

/* SORTING THEORY */
#hide-theory-container {
    display: flex;
}

#hide-theory-container button {
    align-items: flex-end;
    margin-left: auto;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
}
