/* Viktor Högberg, Léo Tuomenoksa Texier */

/* Default game styling, applies to all game modes.
   Some gamemodes have specific css files too.
*/

/* Light-mode */
/* TODO() check colours across this and base.css */
:root {
    --color-header-background: #eceaf2;
    --color-background: #f8f8fc;
    --color-text: #2c2b38;
    --color-logo-text: #ffac26;

    --color-button-text: #ffffff;
    --color-button-background: #5e5479;
    --color-button-border: #4e4564;

    --color-button-2-text: #ffffff;
    --color-button-2-background: #2c2b38;
    --color-button-2-border: #1f1f27;

    --color-element-background: #eceaf2;
    --color-element-background-hover: #d8d6df;
    --color-element-highlighted: #9c93b9;
    --color-element-highlighted-hover: #9088aa;

    --color-element-smallest: #7b7491;
    --color-element-sorted: #77ad77;
    --color-element-sorted-hover: #6d9e6d;

    --color-countdown-warning: rgb(85, 11, 11);

    --color-game-over-dialog-background: linear-gradient(120deg, rgba(2, 0, 36, 1) 0%, rgb(255, 254, 182) 0%, rgb(255, 207, 162) 100%);
}

/* Dark-mode */
:root.dark-mode {
    --color-header-background: #272430;
    --color-background: #18161f;
    --color-text: #e4e3e9;
    --color-logo-text: #ffb641;

    --color-button-text: #ffffff;
    --color-button-background: #6e658c;
    --color-button-border: #83799e;

    --color-button-2-text: #18161f;
    --color-button-2-background: #e4e3e9;
    --color-button-2-border: #b3b2b9;

    --color-element-background: #272430;
    --color-element-background-hover: #302c3b;
    --color-element-highlighted: #67617c;
    --color-element-highlighted-hover: #706a88;

    --color-element-smallest: #8d85ac;
    --color-element-sorted: #5d885d;
    --color-element-sorted-hover: #679667;

    --color-countdown-warning: rgb(214, 18, 18);
    
    --color-game-over-dialog-background: linear-gradient(120deg, rgba(2, 0, 36, 1) 0%, rgb(82, 62, 156) 0%, rgb(102, 75, 223) 100%);
}

/* game view contains game elements, lives, timelimit and control buttons */
#game-view {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

#game-control-buttons-container {
    display: flex;
    justify-content: space-between;
}

#game-control-buttons-container button {
    background-color: var(--color-button-background);
    border-color: var(--color-button-border);
}

#game-control-buttons-container span {
    color: var(--color-button-text);
    margin-top: -10px;
}


#time-and-lives-container {
    display: flex;
    gap: 1rem;
}

#time-container,
#lives-container {
    background-color: var(--color-element-background);
    border-radius: 12px;
    padding: 0.6rem 1.2rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    min-width: 4rem;
    width: fit-content;
}

#lives-container p,
#time-container p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

#number-of-lives,
#countdown {
    font-size: 1.6rem !important;
    margin: 0.3rem 0 !important;
}

/* warning class for countdown */
#countdown.warning {
    color: var(--color-countdown-warning);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/* losing life animation */
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#number-of-lives.losing-life {
    animation: heartbeat 0.6s ease-in-out;
}

#game-element-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
    margin: 1.5rem 0;
    width: 100%;
}

.game-element {
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
    background-color: var(--color-element-background);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 2rem;
    height: 2rem;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width: 800px) {
    .game-element {
        width: 1rem;
        height: 1rem;
    }
}

.game-element:hover {
    transform: translateY(-2px);
    background-color: var(--color-element-background-hover);
}

.game-element-highlighted {
    background-color: var(--color-element-highlighted);
}

.game-element-highlighted:hover {
    background-color: var(--color-element-highlighted-hover);
}

#game-over-dialog {
    width: calc(40%);
    text-align: center;
    background: var(--color-game-over-dialog-background);
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    border-width: 0rem;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
    background-color: rgba(139, 139, 139, 0.5);
}

@media (max-width: 500px) {
    #game-over-dialog {
        width: calc(100% - 4rem);
    }
}

#game-over-title, #game-over-lives-lost {
    font-size: 1.8rem;
    font-weight: bold;
}

#game-over-points {
    font-size: 1.05rem;
    font-weight: bold;
}

#game-over-buttons {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin: 0 1.5rem 0;
}

/* for /n for new line*/
#game-over-points {
    white-space: pre;
}

#try-again-button,
#return-home-button {
    transition: transform 0.2s ease-in-out;

}

#try-again-button:hover,
#return-home-button:hover {
    transform: scale(1.05);
}