/* Viktor Högberg, Léo Tuomenoksa Texier */

/* Default game styling, applies to all game modes.
   Some gamemodes have specific css files too.
*/

/* Light-mode */
/* TODO() check colours across this and base.css */
:root {
    --color-header-background: #eceaf2;
    --color-background: #f8f8fc;
    --color-text: #2c2b38;
    --color-logo-text: #ffac26;

    --color-button-text: #ffffff;
    --color-button-background: #5e5479;
    --color-button-border: #4e4564;

    --color-button-2-text: #ffffff;
    --color-button-2-background: #2c2b38;
    --color-button-2-border: #1f1f27;

    --color-element-background: #eceaf2;
    --color-element-background-hover: #d8d6df;
    --color-element-highlighted: #9c93b9;
    --color-element-highlighted-hover: #9088aa;

    --color-element-smallest: #7b7491;
    --color-element-sorted: #77ad77;
    --color-element-sorted-hover: #6d9e6d;

}

/* Dark-mode */
:root.dark-mode {
    --color-header-background: #272430;
    --color-background: #18161f;
    --color-text: #e4e3e9;
    --color-logo-text: #ffb641;

    --color-button-text: #ffffff;
    --color-button-background: #6e658c;
    --color-button-border: #83799e;

    --color-button-2-text: #18161f;
    --color-button-2-background: #e4e3e9;
    --color-button-2-border: #b3b2b9;

    --color-element-background: #272430;
    --color-element-background-hover: #302c3b;
    --color-element-highlighted: #67617c;
    --color-element-highlighted-hover: #706a88;

    --color-element-smallest: #8d85ac;
    --color-element-sorted: #5d885d;
    --color-element-sorted-hover: #679667;
}

#game-element-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
    margin: 1.5rem 0;
    width: 100%;
}

.game-element {
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    background-color: var(--color-element-background);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    min-width: 1rem;
    min-height: 1rem;
}

.game-element:hover {
    transform: translateY(-2px);
    background-color: var(--color-element-background-hover);
}

.game-element-highlighted {
    background-color: var(--color-element-highlighted);
}

.game-element-highlighted:hover {
    background-color: var(--color-element-highlighted-hover);
}

#game-over-dialog {
    background-color: rgb(211, 193, 211);
}